@font-face {
    font-family: 'Ubuntu';
    src: url(Ubuntu-Regular.ttf);
    font-weight: 300;
    font-style: normal;
}
body {
    background: white; 
    margin: 40px; 
}
.labels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 45px;
    margin-right: 45px; 
    position: relative;
}
.names {
    margin-top: 35px; 
    justify-content: center;
    display: block;
    position: center; 
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px; 
    font-family: 'Ubuntu';
    color: rgb(128, 139, 163);
    font-size: 13px; 
    text-transform: uppercase;
}
.time {
    margin-left: 80px; 
}
.orange {
    display: flex;
    flex-direction: column;
    justify-content: space-between center;
}
.green {
    display: flex;
    flex-direction: column;
    justify-content: space-between center;
}
.violet {
    display: flex;
    flex-direction: column;
    justify-content: space-between center;
}
select {
    border: none; 
    margin: 8px; 
    padding-right: 90px; 
    background: transparent;
}
.label1orange::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(price-tag.png);
    background-size: cover; 
    position: relative;
    justify-content: center;
    display: inline-block; 
    top: 3px; 
}
.label2orange::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(price-tag.png);
    background-size: cover; 
    position: relative;
    justify-content: center;
    display: inline-block; 
    top: 3px; 
}
.label3orange::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(price-tag.png);
    background-size: cover; 
    position: relative;
    justify-content: center;
    display: inline-block; 
    top: 3px; 
}
.label1green::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(ruler.png);
    background-size: cover; 
    position: relative;
    justify-content: center;
    display: inline-block; 
    top: 3px; 
}
.label2green::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(ruler.png);
    background-size: cover; 
    position: relative;
    justify-content: center;
    display: inline-block; 
    top: 3px; 
}
.label3green::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(ruler.png);
    background-size: cover; 
    position: relative;
    justify-content: center;
    display: inline-block; 
    top: 3px; 
}
.label1violet::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(clock.png);
    background-size: cover; 
    position: relative;
    justify-content: center;
    display: inline-block; 
    top: 3px; 
}
.label2violet::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(clock.png);
    background-size: cover; 
    position: relative;
    justify-content: center;
    display: inline-block; 
    top: 3px; 
}
.label3violet::before {
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(clock.png);
    background-size: cover; 
    position: relative;
    justify-content: center;
    display: inline-block; 
    top: 3px; 
}
.label2orange::after {
    background-color: rgb(252, 221, 201);
    width: 150px; 
    height: 25px;
    content: '';
    border: 1px solid transparent;
    border-radius: 15px;
    position: absolute;
    z-index: -1;
    display: block; 
    top: 115px;   
    margin-left: 27px;
}
.label3orange::after {
    background-color: rgb(253, 193, 153);
    width: 150px; 
    height: 25px;
    content: '';
    border: 1px solid transparent;
    border-radius: 15px;
    position: absolute;
    z-index: -1;
    display: block; 
    top: 148px;   
    margin-left: 27px; 
}
.label2green::after {
    background-color: rgb(226, 243, 238);
    width: 150px; 
    height: 25px;
    content: '';
    border: 1px solid transparent;
    border-radius: 15px;
    position: absolute;
    z-index: -1;
    display: block; 
    top: 115px;   
    margin-left: 27px;   
}
.label3green::after {
    background-color: rgb(177, 243, 223);
    width: 150px; 
    height: 25px;
    content: '';
    border: 1px solid transparent;
    border-radius: 15px;
    position: absolute;
    z-index: -1;
    display: block; 
    top: 148px;   
    margin-left: 27px;  
}
.label2violet::after {
    background-color: rgb(232, 220, 243);;
    width: 150px; 
    height: 25px;
    content: '';
    border: 1px solid transparent;
    border-radius: 15px;
    position: absolute;
    z-index: -1;
    display: block; 
    top: 115px;    
    margin-left: 27px;  
}
.label3violet::after {
    background-color: rgb(217, 186, 247);
    width: 150px; 
    height: 25px;
    content: '';
    border: 1px solid transparent;
    border-radius: 15px;
    position: absolute;
    z-index: -1;
    display: block; 
    top: 148px; 
    margin-left: 27px;      
}
.label1 {
    opacity: 0.5;
}
.label2 {
    opacity: 0.75;
}